@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font: {
      display: swap;
      family: $name;
      style: $style;
      weight: $weight;
    }
    src: url("#{$font-path}/#{$file}.otf") format("opentype");
  }
}

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
