@mixin font-face($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $name;
    src: url("#{$font-path}/#{$file}.otf") format("opentype");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}