// Colors
$green-400: #768774;
$green-700: #383E31;

$beige-100: #F3E7DA;
$tan-200: #E4C9AC; 

$white: #fff;
$gray-200: #d9d9d9;
$gray-700: #424242;
$gray-800: #272525;
$black: #000;

// Fonts
$primary-font: "Avenir", sans-serif;
$secondary-font: "Inter", sans-serif;

// Folders Path
$base-path: "../assets";

$image-path: "#{$base-path}/images";
$icons-path: "#{$base-path}/icons";
$bg-path: "#{$base-path}/backgrounds";
$font-path: "#{$base-path}/fonts";
