// Colors
$green-400: #768774;
$green-700: #383e31;

$beige-100: #f3e7da;
$tan-200: #e4c9ac;

$white: #fff;
$gray-200: #d9d9d9;
$gray-700: #424242;
$gray-800: #272525;
$black: #000;

// Fonts
$primary-font: "Avenir", "Inter", sans-serif;
$secondary-font: "Inter", sans-serif;

// Folders Path
$base-path: "../assets";

$image-path: "#{$base-path}/images";
$icons-path: "#{$base-path}/icons";
$font-path: "#{$base-path}/fonts";
